@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, #833ab4, #5851db);
  width: 60%;
  margin: 0 auto;
  padding: 50px;
}

@media (max-width: 600px) {
  body {
    width: 80%;
    padding: 100px 10px;
  }
}

.input {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.logo {
  width: 200px;
  margin: 20px auto;
  filter: invert(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  margin: 10px 0;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* CSS de card para teste de layout */

.card {
  margin-top: 20px;
  background-color: #ffffff38;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.4rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.card h2 {
  padding-top: 12px;
  margin-left: 1rem;
  font-size: 1rem;
  color: white;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.card img {
  width: 100%;
  height: auto;
  margin: 0;
}

.card h3 {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 0.8rem;
}

.card p {
  margin-top: 0rem;
  font-size: 0.7rem;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-left: 1rem;
  text-align: left;
}

.card-display {
  display: grid;
  grid-gap: 1rem;
}

